@import '/styles/smallLayouts.css';
@import '/styles/smallModulations.css';

body {
  display: grid;
  width: 80vw;
  background: lightgrey;
  text-align: center;
  margin-left: 10vw;
  grid-template-columns: 40vw 40vw;
  grid-template-rows: 7vh 15vh 10vh 10vh 25vh 25vh 8vh; /* 1000 */
}
header {
  background: white;
  color: black;
  outline: solid 2px rgb(50,50,50);
  line-height: 7vh;
  grid-row: 1 / 2;
  grid-column: 1 /3;
}
footer {
  background: BlueViolet;
  outline:solid 2px rgb(50,50,50);
  line-height: 8vh;
  grid-row: 7 / 8;
  grid-column: 1 /3;
}