.largeText {
  background: silver;
  outline:solid 2px rgb(50,50,50);
  line-height: 15vh;
  grid-row: 2 / 3;
  grid-column: 1 / 3;
}
.smallText {
  outline:solid 2px rgb(50,50,50);
  line-height: 10vh;
}
.innerDiv {
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: solid 2px rgb(50,50,50);
  line-height: 25vh;
  font-size: 28px;
}