#cEl {
  background-color: cyan;
  grid-row: 2 / 3;
  grid-column: 2 / 4;
}
#dEl {
  background-color: magenta;
  grid-row: 2 / 3;
  grid-column: 4 / 6;
}
#eEl {
  background-color: purple;
  grid-row: 3 / 4;
  grid-column: 2 / 3;
}
#fEl {
  background-color: green;
  grid-row: 3 / 4;
  grid-column: 3 / 4;
}
#gEl {
  background-color: brown;
  grid-row: 3 / 4;
  grid-column: 4 / 5;
}
#hEl {
  background-color: peachpuff;
  grid-row: 3 / 4;
  grid-column: 5 / 6;
}