.largeText {
  background-color: yellow;
  outline:solid 2px rgb(50,50,50);
  line-height: 85.7vh;
  grid-row: 2 / 6;
  grid-column: 1 / 2;
}
.smallText {
  outline:solid 2px rgb(50,50,50);
  line-height: 28.6vh;
}
.innerDiv {
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: solid 2px rgb(50,50,50);
  line-height: 35.7vh;
}