@import '/styles/mediumLayouts.css';
@import '/styles/mediumModulations.css';

body {
  display: grid;
  width: 80vw;
  background: lightgrey;
  text-align: center;
  margin-left: 10vw;
  grid-template-columns: 20vw 20vw 20vw 20vw;
  grid-template-rows: 13.5vh 30vh 18vh 25vh 13.5vh; /* 1000 */
}
header {
  background: rgb(250, 150, 180);
  color: black;
  outline: solid 2px rgb(50,50,50);
  line-height: 13.5vh;
  grid-row: 1 / 2;
  grid-column: 1 / 5;
}
footer {
  background: rgb(100, 250, 100);
  outline:solid 2px rgb(50,50,50);
  line-height: 13.5vh;
  grid-row: 5 / 6;
  grid-column: 1 / 5;
}